@charset "utf-8";


.hero__bg__img {
	background-image: url("/images/about/page-about-me/about_img_001.png");
	background-position: 50% 35% !important;
	transform: translateY(0px) translateZ(0px);
}

/* about__area */
.about__area p img {
	width: auto;
}
.about__area .col-2-1 {
    display: flex;
    margin: 0 auto;
    align-items: stretch;
    gap: 2rem;
}
.about__area .col-2-1 .col__img {
    display: flex;
    overflow: hidden;
}
.about__area .col-2-1 .col__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}
.about__area .col-2-1 .col__img img:hover {
    transform: scale(1.12);
}
.about__area .col-2-1 .col__txt {
    display: flex;
    text-align: left;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

@media print, screen and (min-width: 768px) {
	.about__area .col-2-1 > .col__txt {
		padding: 150px 20px;
	}
    .about__area .col-2-1 .col__img {
        flex: 0 0 50%;
    }
}

/* SP STYLES */
@media screen and (max-width: 767px) {
	.about__img-sign {
		margin-top: 40px;
	}
    .about__area .col-2-1 {
        flex-wrap: wrap;
    }
}


/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* DESKTOP STYLES */
@media print, screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {

}

/* PC STYLES */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {

}

/* SP STYLES */
@media screen and (max-width: 767px) {

}