@charset "utf-8";

html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: var(--font-fa-primary);
}
.wrap {
	margin: 0 auto;
}
a {
	color: var(--clr-primary);
	text-decoration: none;
}
a:hover,
a:visited {
	text-decoration: var(--clr-primary);
}
img  {
	width: 100%;
}

/* background-color */
.bg-primary {
	background-color: var(--bg-primary);
}
.bg-secondary {
	background-color: var(--bg-secondary);
}
.bg-neutral {
	background-color: var(--bg-neutral);
}

/* text-alignment */
.text-center {
	text-align: var(--text-center);
}
.text-left {
	text-align: var(--text-left);
}
.text-right {
	text-align: var(--text-right);
}

/* header */
.header__logo {
	margin-bottom: 0;
}
.header__menu__list li a {
	font-weight: var(--font-w-500);
	font-family: var(--font-fa-primary);
	text-transform: uppercase;
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.header__menu__list li a.active {
	color: var(--clr-secondary);
}
.header__menu__list li a:hover {
	color: var(--clr-secondary);
}

@media print, screen and (min-width: 768px) {
	.header {
		padding: 38px 0;
	}
	.header__area,
	.header__menu__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header__menu__list li {
		padding: 8px;
	}
	.header__menu__list li:not(:last-child) {
		margin-right: 30px;
	}
	.header__menu__list li a {
		font-size: var(--font-sz-12);
	}
}

/* banner__area */
.banner__area {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media print, screen and (min-width: 768px) {
	.banner__area {
		padding: 60px 0 80px;
	}
}

/* about us */
.about__area p {
	font-size: var(--font-sz-16);
	text-align: var(--text-center);
}
.about__area p:last-child {
	margin-bottom: 0;
}
.about__area p img {
	width: auto;
}

/* skills */
.skills .wrap {
	max-width: 1920px;
}
.progress__bar {
	position: relative;
	max-width: 500px;
	width: 100%;
	height: 5px;
	overflow: hidden;
	background: #d8d8d8;
}
.progress {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background: #d8d8d8;
	transition: all .3s;
}
.skills__container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.skill__column {
	display: flex;
	width: 50%;
	padding: 164px 0;
	flex: 1;
	justify-content: center;
	box-sizing: border-box;
}
.skill__column__content {
	display: flex;
	width: 62.5%;
	flex-direction: column;
}
.left-column {
	background-color: #f8f9f9;
	justify-content: flex-end;
}
.skill__column__content {
	position: relative;
	right: 85px;
}
.right-column {
	background: url("../images/skill_img_bg.jpg") center right no-repeat #F0EEF1;
    background-size: contain;
}
.right-column img {
    max-width: 100%;
	width: 50%;
    height: auto;
    border-radius: 8px;
}

@media print, screen and (min-width: 768px) {
	section.skills {
		padding: 0;
	}
	.skills__prof__list li:not(:last-child) {
		margin-bottom: 40px;
	}
	.skills__prof__list .skill__ttl,
	.skills__prof__list .skill__percent {
		margin-right: 20px;
		color: var(--clr-primary);
		font-size: var(--font-sz-12);
		font-weight: var(--font-w-500);
		letter-spacing: 2px;
	}
	.skill__label {
		margin-bottom: 20px;
	}
}

.numbers img {
	width: auto;
}




/* utils */
.disp__flex {
	display: flex;
}

@media print, screen and (min-width: 768px) {
	.disp__flex {
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.disp__flex li {
		display: flex;
	}
	.disp__flex.flex__col-4_1 li {
		width: calc((100% - 60px) / 4);
	}
	.disp__flex.flex__col-4_2 li {
		width: calc(100%  / 4);
	}
}

/* numbers */
.numbers__figure__list li p {
	margin-bottom: 0;
}
.numbers__figure__list li .figure__details__num,
.numbers__figure__list li .figure__details__desc {
	font-weight: 500;
	font-family: var(--font-fa-primary);
	color: #fff;
	letter-spacing: 1px;
}

@media print, screen and (min-width: 768px) {
	.numbers {
		padding: 100px 0;
	}
	.disp__flex {
		display: flex;
	}
	.justify__space-between {
		justify-content: space-between;
	}
	.justify__center {
		justify-content: center;
	}
	.align__item-center {
		align-items: center;
	}
	.disp__flex li {
		width: calc((100% - 60px) / 4);
	}
	.disp__flex.flex__column li {
		flex-direction: column;
		align-items: center;
	}
	.numbers__figure__list li .figure__list__logo {
		margin-right: 30px;
	}
	.numbers__figure__list li .figure__list_details {
		display: flex;
		flex-direction: column;
	}
	.numbers__figure__list li .figure__details__num {
		font-size: 18px;
	}
	.numbers__figure__list li .figure__details__desc {
		font-size: 12px;
	}
	.numbers__figure__list li img {
		aspect-ratio: 1/1;
		max-width: 100%;
		height: 41px;
	}
}

/* work */
.work .wrap {
	max-width: 1920px;
	margin: 0 auto
}
.work .work__area {
	max-width: 100%;
	margin: 0 auto
}

.work__list li {
	position: relative;
	height: 100%;
}
.work__list li:before {
	content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	background: url("../images/work_ico_eye.png") center no-repeat #333;
	background-size: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.work__list li:hover {
	cursor: pointer;
}
.work__list li:hover:before {
	opacity: .5;
}

.work__list__trigger {
	background-color: #f5f5f5;
	text-align: var(--text-center);
}
.work__list__trigger__link {
	color: #8e8e8e;
	letter-spacing: 2px;
}
.work__list__trigger__link:hover {
	opacity: 0.75;
}


@media print, screen and (min-width: 768px) {
	.work__list__trigger__link {
		display: block;
		font-size: 12px;
		padding: 46px 0;
	}
}

/* process */
.process__thumb {
	position: relative;
	cursor: pointer;
}

.process__thumb .thumbnail {
	width: 100%;
	display: block;
}

.process__thumb .play__button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #10c9c3;
	border: none;
	border-radius: 50%;
	width: 85px;
	height: 85px;
	font-size: 11px;
	color: white;
	cursor: pointer;
	z-index: 2;
}

.process__thumb video {
	width: 100%;
	display: none;
}

/* clients */
.clients .slider__logo__area img {
	width: 200px;
	height: auto;
	object-fit: contain;
	aspect-ratio: 1 / 1;
	display: block;
	margin: 0 auto;
}


/* form */

.form {
	background-color: #f5f5f5;
}

form {
	max-width: 672px;
	margin: 0 auto;
}
input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	padding: 18px 22px;
	border: 0;
	outline: none;
	color: var(--clr-primary);
	font-family: var(--font-fa-secondary);
}
.form__row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.form__row:not(:first-child) {
	margin-top: 30px;
}
.form__group {
	width: calc((100% - 30px) / 2);
}
.form__btn {
	background-color: var(--bg-secondary);
	color: var(--clr-neutral);
	font-weight: 500;
	max-width: 180px;
	margin: 30px auto 0;
}

.send__btn {
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
}
.send__btn:hover {
	opacity: 0.7;
}

/* services */
.service__list li img {
	width: auto;
}

@media print, screen and (min-width: 768px) {
	.services {
		font-size: 12px;
		padding: 104px 0;
	}
	.service__list li p {
		margin-bottom: 0;
	}
	.service__list li:nth-child(n+5) {
		margin-top: 56px;
	}
	.service__list li .service__list__ttl {
		margin-top: 30px;
	}
	.service__list li .service__list__desc {
		margin-top: 20px;
		padding: 0 10px;
	}
}

/* testimonials */
.testimonials {
	padding: 178px 0;
}

.slider__testimony_area p {
	color: var(--clr-neutral);
}

.content__quote {
	line-height: 1.5;
	font-family: var(--font-fa-primary);
	font-weight: 500;
}

@media print, screen and (min-width: 768px) {
	.content__quote {
		font-size: 24px;
	}
	.content__author {
		margin-bottom: 0;
		font-size: 12px;
		text-transform: uppercase;
	}
}

/* Custom styles */
.btn_prev {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	width: 6.13%;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}

@media print, screen and (min-width: 768px) {
	.btn_prev {
		left: 8px;
	}
}
.btn_next {
	display: inline-block;
	cursor: pointer;
	position: absolute;
	width: 6.13%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}
@media screen and (max-width: 768px) {
	.btn_next {
		right: 8px;
	}
}
@media screen and (max-width: 768px) {
	.btn_prev, .btn_next {
		width: 9.3%;
	}
}

.slick-arrow img {
	width: 60%;
}

.slick-dots {
	bottom: -45px;
}

.slick-dots li button:before {
	font-size: 10px;
	color: #072238;
}
.slick-dots li.slick-active button:before {
	color: #fff;
}


/* footer */
.footer {
	padding: 100px 0;
}

.footer__list {
	display: flex;
}

.footer__list__tll {
	color: var(--clr-neutral);
}

.footer__list__desc,
.footer__list p,
.footer__list a {
	color: #bcbcbc;
}
.footer__list a {
	color: #bcbcbc;
}
.footer__list > li ul li:not(:first-child) {
	margin-top: 14px;
}
.footer__list > li:nth-child(1){
	width: 40%;
}
.footer__list > li:nth-child(2){
	width: 25%;
}
.footer__list > li:nth-child(3) {
	width: 20%;
}
.footer__list > li:nth-child(4) {
	width: 15%;
}

.footer__list > li:nth-child(3) {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__list > li:nth-child(3) ul {
	width: calc((100% - 54px) / 2);
}

.footer__list > li:nth-child(4) ul li {
	text-align: right;
	width: 100%;
}


/* TABLET STYLES */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

/* DESKTOP STYLES */
@media print, screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {

}

/* PC STYLES */
@media only screen and (min-width: 1400px) and (max-width: 1600px) {

}


/* SP STYLES */
@media screen and (max-width: 767px) {

}